<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 1、配置数据库连接的4个参数 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///demo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">AngelBeats</property>

        <!-- 是否显示sql语句 -->
        <property name="show_sql">true</property>

        <!-- 是否格式化sql语句 -->
        <property name="format_sql">true</property>

        <!-- 是否自动提交事务：针对insert有效，针对delete无效 -->
        <property name="hibernate.connection.autocommit">true</property>

        <!-- 开启与当前线程绑定session的功能
            ThreadLocal<Connection>
            ThreadLocal<ActionContext>
            ThreadLocal<Session>
         -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- hibernate.hbm2ddl.auto
            配置映射文件与数据库表的关系
            update:如果数据库有没表，自动帮你创表【常用】
                      如果hbm与数据表不一样，会更新
            create:每次启动hibernate都帮你创建表
            create-drop,每次启动hibernate都帮你创建表,执行完后删除表
            validate:检验hbm文件，如果与数据库的字符不一至，就抛出异常【过掉】
         -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- hiberante.dialect:数据库方言
             mysql:分页limit
             oracle:分页rownum
         -->
        <property name="hiberante.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 数据库连接池的使用 -->
        <!-- 选择使用C3P0连接池 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
        <!-- 最大连接数 -->
        <property name="hibernate.c3p0.max_size">20</property>
        <!-- 最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
        <property name="hibernate.c3p0.timeout">120</property>
        <!-- 最大的PreparedStatement的数量 -->
        <property name="hibernate.c3p0.max_statements">100</property>
        <!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒-->
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <!-- 每次都验证连接是否可用 -->
        <property name="hibernate.c3p0.validate">false</property>

        <!-- 二级缓存配置 -->
        <!--开启二级缓存 -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!-- 指定使用哪一个缓存框架 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>
        <!-- 开启查询缓存 -->
        <property name="hibernate.cache.use_query_cache">true</property>

        <!-- 2、配置JavaBean与表的映射文件 -->
        <mapping resource="com/hibernate/domain/User.hbm.xml"/>
        <mapping resource="com/hibernate/domain/Customer.hbm.xml"/>
        <mapping resource="com/hibernate/domain/Order.hbm.xml"/>
        <mapping resource="com/hibernate/domain/Student.hbm.xml"/>
        <mapping resource="com/hibernate/domain/Course.hbm.xml"/>
        <mapping resource="com/hibernate/domain/Address.hbm.xml"/>
        <mapping resource="com/hibernate/domain/Company.hbm.xml"/>
        <mapping resource="com/hibernate/tieba/model/Reply.hbm.xml"/>
        <mapping resource="com/hibernate/tieba/model/Topic.hbm.xml"/>

        <!-- 指定哪些类要加入二级缓存 -->
        <class-cache usage="read-write" class="com.hibernate.domain.Customer"/>
        <!--<class-cache usage="read-write" class="com.hibernate.domain.Order"/>-->
        <!-- 集合缓存 -->
        <collection-cache usage="read-only" collection="com.hibernate.domain.Customer.orders"/>
    </session-factory>
</hibernate-configuration>